@import "../styles/utils/variables.scss";

* {
  font-family: $font-family;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  text-align: center;
  color: $white;
  text-shadow: $red 2px 2px;
  background: linear-gradient(to right, $red, $green);
  overflow: hidden;
}
