.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(to left, rgb(221, 62, 84), rgb(107, 229, 133));
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
    border: 1px solid #888;
    box-shadow: 1px 1px 8px black;
}
.calculator-3d {
    height: 330px;
    width: 245px;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(to left, rgb(221, 62, 84), rgb(107, 229, 133));
    box-shadow: 5px 5px 5px rgb(143, 82, 90);
    display: flex;
    align-items: center;
    justify-content: center;
}