:root {
    --bg-button: #f0f0f0;
    --border-button: 1px solid #888;
}

.button {
    background: transparent;
    font-size: 1.4em;
    border: none;
    outline: none;
    border-radius: 6px;
}

.button:active {
    background: linear-gradient(to left, rgb(221, 62, 84), rgb(107, 229, 133));
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background: transparent;
    border-radius: 6px;
}
.button.operation:active {
    background: linear-gradient(to right, rgb(221, 62, 84), rgb(107, 229, 133));
    color: #000;
    text-shadow: rgb(221, 62, 84) -1px -1px;
}

.button .btn-3d {
    background: linear-gradient(to right, rgb(236, 233, 230), rgb(255, 255, 255));
    border: var(--border-button);
    border-radius: 4px;
    margin: 0px;
    box-shadow: 2px 2px 6px black;
}

.button:active .btn-3d {
    background: linear-gradient(to right, rgb(236, 233, 230), rgb(255, 255, 255));
}

.button.operation .btn-3d {
    background: linear-gradient(to right, rgb(221, 62, 84), rgb(107, 229, 133));
    color: #fff;
    text-shadow: rgb(221, 62, 84) -1px -1px;
}